<p>
  <table> 
  <tr><td> Google Maps API Key </td><td>
  <%= text_field_tag('settings[gmap_api_key]', @settings['gmap_api_key'])%>
  </td></tr>
  <tr><td> Default map width </td><td>
  <%= text_field_tag('settings[map_width]', @settings['map_width'])%>
  </td></tr>
  <tr><td> Default map height </td><td>
  <%= text_field_tag('settings[map_height]', @settings['map_height'])%>
  </td></tr>
  <tr><td> Default lat </td><td>
  <%= text_field_tag('settings[default_lat]', @settings['default_lat'])%>
  </td></tr>
  <tr><td> Default lng </td><td>
  <%= text_field_tag('settings[default_lng]', @settings['default_lng'])%>
  </td></tr>
  </table>
</p>
