<%= javascript_include_tag('tkgmap_application',:plugin => 'redmine_tkgmap') %>
<script src="https://maps.google.com/maps/api/js?v=3&sensor=false" type="text/javascript" charset="UTF-8"></script>

<script type="text/javascript">
//<![CDATA[
$(function(){
  setTimeout(function(){
    initMap(<%= Setting.plugin_redmine_tkgmap['default_lat'].to_s %>, <%= Setting.plugin_redmine_tkgmap['default_lng'].to_s %>, true);
  },500);
});
//]]>
</script>

<div id="gmap" style="width:<%= Setting.plugin_redmine_tkgmap['map_width'].to_s %>px;height:<%= Setting.plugin_redmine_tkgmap['map_height'].to_s %>px;"></div>
	<input type="button" onClick="returnValue();" value="<%= h l :set_lat_lng_tkg %>">
	<input type="button" onClick="window.close();" value="<%= h l :window_close_tkg %>">
<div id="point"></div>

